<!DOCTYPE html>
<html lang="en" th:replace="~{frag :: parent(~{::#content},~{:: title},~{:: script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
</head>
<body>

    <div id="content" >
        
    <h1 class="pt-14 text-left ml-0 pl-4">this is service...</h1>
    <p class="text-left ml-0 pl-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Veritatis itaque aut, delectus illum iusto velit repellat corrupti! Quasi quisquam mollitia, 
         quae iure, dolorum libero voluptates quaerat, perspiciatis similique nisi tempora!</p>

        </div>
        <script>
            console.log("this is service page.")
        </script>


</body>
</html>